{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false }]
  ],
  "env": {
    "alias": {
      "plugins": [
        [
          "module-resolver", { "alias": {"grommet-controls": "../grommet-controls/src/js" } }
        ]
      ]
    },
    "dx-grid": {
      "plugins": [
        [
          "module-resolver", { "alias": {"dx-react-grid-grommet": "../dx-react-grid-grommet/src" } }
        ]
      ]
    },
    "grommet": {
      "plugins": [
        [
          "module-resolver",
          {
            "alias": {
              "grommet": "../grommet/src/js"
            }
          }
        ]
      ]
    }
  }
}
