{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false }],
    ["transform-imports", {
      "grommet-controls": {
        "transform": "grommet-controls/es6/components/${member}",
        "preventFullImport": true,
        "skipDefaultConversion": true
      },
      "grommet": {
        "transform": "grommet/es6/components/${member}",
        "preventFullImport": true,
        "skipDefaultConversion": true
      },
      "grommet/contexts": {
        "transform": "grommet/es6/contexts/${member}",
        "preventFullImport": true,
        "skipDefaultConversion": true
      },
      "grommet/themes": {
        "transform": "grommet/es6/themes/${member}",
        "preventFullImport": true,
        "skipDefaultConversion": true
      },
      "-grommet-icons": {
         "transform": "grommet-icons/es6/icons/${member}",
         "preventFullImport": true,
         "skipDefaultConversion": true
      },
      "-grommet-icons/contexts": {
        "transform": "grommet-icons/es6/contexts/${member}",
        "preventFullImport": true,
        "skipDefaultConversion": true
     }
    }]
  ],
  "env": {
    "alias": {
      "plugins": [
        [
          "module-resolver", { "alias": {"grommet-controls": "../grommet-controls/src/js" } }
        ]
      ]
    }
  }
}
