{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false }],
    ["transform-imports", {
      "grommet-controls": {
        "transform": "grommet-controls/es6/components/${member}",
        "preventFullImport": false,
        "skipDefaultConversion": true
      },
      "grommet-controls/chartjs": {
        "transform": "grommet-controls/es6/chartjs/${member}",
        "preventFullImport": false,
        "skipDefaultConversion": true
      },
      "grommet-controls/themes": {
        "transform": "grommet-controls/es6/themes/${member}",
        "preventFullImport": false
      },
      "grommet": {
        "transform": "grommet/es6/components/${member}",
        "preventFullImport": false,
        "skipDefaultConversion": true
      },
      "grommet/contexts": {
        "transform": "grommet/es6/contexts/${member}",
        "preventFullImport": true,
        "skipDefaultConversion": true
      },
      "grommet/themes": {
        "transform": "grommet/es6/themes/${member}",
        "preventFullImport": false,
        "skipDefaultConversion": true
      },
      "grommet/components/hocs": {
        "transform": "grommet/es6/components/hocs",
        "preventFullImport": true,
        "skipDefaultConversion": true
      },
      "grommet/utils": {
        "transform": "grommet/es6/utils",
        "preventFullImport": true,
        "skipDefaultConversion": true
      },
      "grommet-icons/contexts": {
        "transform": "grommet-icons/es6/contexts/${member}",
        "preventFullImport": true,
        "skipDefaultConversion": true
      },
      "grommet-icons": {
         "transform": "grommet-icons/es6/icons/${member}",
         "preventFullImport": false,
         "skipDefaultConversion": true
      }
    }]
  ],
  "env": {
    "alias": {
      "plugins": [
        [
          "module-resolver", { "alias": {"grommet-controls": "../grommet-controls/src/js" } }
        ]
      ]
    },
    "grommet": {
      "plugins": [
        [
          "module-resolver",
          {
            "alias": {
              "grommet": "../grommet/src/js"
            }
          }
        ]
      ]
    }
  }
}
