GOOGLE_FONTS_API_KEY=CHANGE THIS
ENGINE_API_KEY=CHANGE THIS

DATABASE_URL=CHANGE THIS

WEBSITE_URL=http://localhost:8444
JWT_SECRET_KEY=CHANGE THIS
APP_NAME=crypto-grommet

EMAIL_USER=CHANGE THIS
EMAIL_PASSWORD=CHANGE THIS
EMAIL_PORT=CHANGE THIS
EMAIL_HOST=CHANGE THIS

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

GOOGLE_APP_ID=
GOOGLE_APP_SECRET=

LINKEDIN_APP_ID=
LINKEDIN_APP_SECRET=

GITHUB_APP_ID=
GITHUB_APP_SECRET=
